/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2016, 1:15:01 PM
    Author     : akaleek
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    direction: rtl;
    padding-top: 120px;
}
#header {
    background-image: image(#245580)
}
.navbar-nav > li > .dropdown-menu { background-color: #111111; }
